.middleDiv {
    display: block;
    margin: auto;
    margin-top: 2vh;
    width: 80%;
    min-width: 300px;
}

#header {
    background-color: var(--red-bg);
    text-align: center;
    
    //position: relative;
    border-radius:30px;
    width: 100%;
}

.logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width:13vw;
}

#headerText {
    font-size: 5vw;
    color: var(--gold-text);
    
    width:100%;
}

#flightList {
    padding: 10px;
}

.listItem {
    background-color: var(--green-bg);
    color: var(--white-text);
    font-size: 3vw;
    text-align: center;
    
    border-radius: 10px;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}