:root {
    font-family: 'Oswald', sans-serif;
    
    /* DEFINE CUSTOM COLORS */
    --red-bg: rgb(150, 0, 0);
    --red-bg-hover: rgb(130, 0, 0);
    --red-bg-translucent: rgba(150, 0, 0, 0.5);
    --gold-bg: rgb(250, 190, 0);
    --gold-bg-translucent: rgba(250, 190, 0, 0.5);
    --green-bg: rgb(40, 100, 0);
    --green-bg-translucent: rgba(40, 100, 0, 0.5);
    --black-bg-translucent: rgba(0, 0, 0, 0.5);
    --white-bg: rgb(230, 230, 230);
    --white-bg-highlight: rgb(250, 250, 250);
    --white-bg-hover: rgb(200, 200, 200);
    --white-bg-translucent: rgba(230, 230, 230, 0.5);
    --grey-bg: rgb(150, 140, 130);
    --grey-bg-translucent: rgba(150, 140, 130, 0.5);
    
    --red-text: rgb(150, 0, 0);
    --gold-text: rgb(250, 190, 0);
    --green-text: rgb(40, 100, 0);
    --black-text: rgb(0, 0, 0);
    --white-text: rgb(255, 255, 255);
    --grey-text: rgb(150, 140, 130);
    
    --white-accent: rgb(200, 200, 200);
    --black-accent: rgb(0, 0, 0);
}

body {
    background-color: var(--grey-bg);
}

p, h1 {
    margin: 0;
}

.message {
    font-size: 2vw;
    color: var(--black-text);
    text-align: center;
    background-color: var(--gold-bg-translucent);
    
    width:100%;
    border-radius: 20px;
}

#goodMessage {
    background-color: var(--green-bg-translucent);
}

#badMessage {
    background-color: var(--red-bg-translucent);
}

#searchList {
    background-color: var(--white-bg);
    
    position: absolute;
    border-radius: 10px;
    width: 100%;
}

.searchItem {
    font-size: 4vh;
    color: var(--black-text);
    text-align: center;
    background-color: var(--white-bg-highlight);
    
    padding: 5px 30px;
    margin: 5px 5px;
    border: 1px dashed var(--white-accent);
    border-radius: 8px;
}

.searchItem:hover {
    background-color: var(--white-bg-hover);
    cursor: pointer;
}

.visible {
    visibility: visible;
    display: block;
}

.hidden {
    visibility: hidden;
    display: none;
}