.middleDiv {
    display: block;
    
    /* Border For Debug Purposes */
    /* border: 3px solid red; */
    margin: auto;
    margin-top: 15vh;
    width: 50%;
    min-width: 300px;
}

#header {
    text-align: right;
    
    position: relative;
    width: 100%;
}

.logo {
    width:100%;
}

#headerText {
    font-size: 3vw;
    color: var(--gold-text);
    
    position: absolute;
    bottom: 6px;
    width:100%;
}

#formFields {
    margin-top: 10px;
    margin-bottom: 10px;
}

form {
    text-align: center;
    
    margin: auto;
    position: relative;
}

input {
    font-size: 2.5vw;
    text-align: center;
    
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

#checkin {
    color: var(--gold-text);
    background-color: var(--red-bg);
    
    display: block;
}

#checkin:hover {
    background-color: var(--red-bg-hover);
    cursor: pointer;
}