#planeInfo {
    background-color: var(--white-bg-translucent);
    
    float: left;
    padding: 10px;
    width: 40%;
    border-radius: 30px;
}

#waitingList {
    background-color: var(--white-bg-translucent);
    
    float: right;
    padding: 10px;
    width: 40%;
    padding-right: 10px;
    border-radius: 30px;
}

.listHeader {
    font-size: 5vh;
    margin: 0;
    text-align: center;
}

/* Plane Info */

.plane {
    background-color: var(--white-bg);
    
    box-sizing: border-box;
    display:flex;
    /* Compatibility */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    /* Compatibility */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    align-items:center;
    /* Compatibility */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    height: 10vh;
    width: 100%;
    border: 4px solid black;
    border-radius: 10px;
    position: relative;
    margin-bottom: 8px;
}

.planeBox {
    display: flex;
    /* Compatibility */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    /* Compatibility */
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    height: 100%;
}

.planeInfoBox {
    display:flex;
    /* Compatibility */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    /* Compatibility */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    align-items:center;
    /* Compatibility */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    height: 30%;
    margin: 2px;
}

.infoImg {
    height:100%;
    width:auto;
}

.infoText {
    font-size:3vh;
}

.bigInfoText {
    font-size:5vh;
}

#maintenance {
    font-size:3vh;
}

#maintenanceTrigger {
    transform: scale(1.5);
    margin-left: 10px;
}

.tailBottom {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

.tailTop {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    height: 100%;
}

#planeNumber {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index:2;
    font-size:5vh;
}

.waitingPilot {
    margin-bottom: 10px;
    font-size: 60px;
    background-color: rgb(88, 88, 88);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
}

.detailInfo{
    font-size: 20px;
}

/* Pilot Info */

.pilot {
    background-color: var(--white-bg);
    
    box-sizing: border-box;
    display:flex;
    /* Compatibility */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    /* Compatibility */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    align-items:center;
    /* Compatibility */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    height: 10vh;
    width: 100%;
    min-width:180px;
    border: 4px solid black;
    border-radius: 10px;
    position: relative;
    margin-bottom: 8px;
}

.pilotBox {
    display: flex;
    /* Compatibility */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    /* Compatibility */
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    height: 100%;
}

.pilotInfoBox {
    display:flex;
    /* Compatibility */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    /* Compatibility */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    align-items:center;
    /* Compatibility */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    height: 30%;
    margin: 2px;
}

.pilotInfoBoxBig {
    display:flex;
    /* Compatibility */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction:row;
    /* Compatibility */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    align-items:center;
    /* Compatibility */
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    height: 55%;
    margin: 2px;
}

/* Tool Tip */

#toolTipInitiator {
    background-color: red;
    
    position: fixed;
    bottom: 10px;
    left: 0px;
    width: 100%;
    height: 50%;
    
    z-index: -1;
}

#toolTipImg {
    bottom: 0px;
    height: auto;
    width: 5vh;
    display: block;
    margin-left:auto; 
    margin-right:auto;
    margin-top: 4px;
}

#toolTipTable {
    background-color: var(--white-bg-translucent);
    
    table-layout: fixed;
    border: 3px solid black;
    margin-left:auto; 
    margin-right:auto;
    
}

#toolTipTable th {
    text-align: left;
    
    border-bottom: 1px dashed black; 
}

.tipCellImg {
    height: 2vw;
    width: 2vw;
}

.tipCellText {
    
}

#tipColorGreen {
    background-color: var(--green-bg);
}

#tipColorGold {
    background-color: var(--gold-bg);
}

#tipColorRed {
    background-color: var(--red-bg);
}